#about 
  %h1 What?
  %p #WinNYFW is a game.
  %p To join: log in to your twitter or instagram. you can do that up there in the corner ^^
  %p To play: 
  %ul
    %li get on the NYFW ground. get drunk. tweet about it. take some pictures. 
    %li keep an eye on the trending hashtags listed on our homepage
    %li check out articles associated with the trending hashtags for more info
    %li get drunker. take more pictures. 
  %p To score points:
  %ul
    %li get on the social medias and talk about the trending hashtags. a lot.
    %li be the first to talk about something that blows up later
    %li include pics. more pics plz
  %p To win: Have the most points. Duh.