%h1 Hearst Example
Enter a keyword
%input{:type=> "text"}
%a.btn.btn-primary Search

- @articles["items"].each do |article|
  .articles
    %a{:href=> "#{article["canonical_url"]}"}
      %h2= article["title"]
      %h4= article["promo_teaser"]
    