%h1 - win fashion week -
.trending.span5
  %h3 #Trending
  %ol  
  - @trends.each do |trend|
    %li
      %span.trend= trend[:name]
      %span.count= trend[:total_mentions]
.leaderboard.span6
  %h3 Leaderboard
.editorial.span5
  %h3 Hearst Editorial
  %ol
  -
