!!! 5
%html
  %head
    %title Excellent Russian App
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'css/bootstrap.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheet.css' }
  %body
    / Header and Nav
    %header
    %div
      =yield
      %a.btn poop
    %footer
