$purple: #47006B;
$yellow: #FFFF4C;
$blue: #00CCCB;
$pink:  #FF0079;
$salmon: #FF5B51;
$royal: #4700BF;
$small_space: 5px;
$large_space: 10px;
$heavy_weight: 600;
$light_weight: 300;
$shadowy: 0 1px 0 #ffffff;

@font-family {
  font-family: "Blanch";
  src: url(fonts/BLANCH_CONDENSED_LIGHT.otf);
}

div#landing{
  padding-top: 20px;
  html, body {
    height: 100%;
  }
}

h1{
  font-family: "Blanch";
  font-size: 100px;
  text-align: center;
  line-height: 1.1em;
}

div.trending {
  margin-bottom: $small_space;
  padding: $small_space;
  background-color: $yellow;
  h3 {
    color: $salmon;
    font-family: "Blanch";
    font-size: 50px;
    line-height: 0.7em;
  }
  li {
    list-style: none;
    padding: $small_space;
    div.trend{
      font-weight: $heavy_weight;
    }
  }
  div.bar {
    float: left;
    height: 20px;
    background-color: $salmon;
    margin-right: $small_space;
  }
}

div.leaderboard {
  margin-bottom: $small_space;
  margin-right: $small_space;
  padding: $small_space;
  background-color: white;
  h3{
    color: $blue;
    font-family: "Blanch";
    font-size: 50px;
    line-height: 0.7em;
  }
  div.user_card {
    padding: $large_space;
  }
  div.pic_score {
    margin-top: -13px;
    margin-right: -10px;
    img.profile_pic {
      width: 100%;
      vertical-align: text-top;
    }
    div.score {
      background-color: black;
      font-size: 15px;
      color: white;
      font-weight: $heavy_weight;
      text-align: center;
      padding: $small_space;
    }
  }
  div.name_info {
    font-size: 20px;
    line-height: 1em;
    span.user_name {
      background-color: $blue;
      color: white;
      padding: $large_space;
    }
  }
}

div.editorial {
  margin-bottom: $small_space;
  padding: $small_space;
  background-color: $salmon;
  h3 {
    color: $yellow;
    font-family: "Blanch", sans-serif;
    font-size: 50px;
    line-height: 0.7em;
  }
  li {
    font-family: "Raleway", sans-serif;
    a {
      font-weight: $heavy_weight;
      color: white;
    }
    span{
      color: black;
      &.title {
        font-weight: $heavy_weight;
      }
      &.editor {
        color: white;
      }
    }
  }
}


img.nav_prof {
  width: 30px;
  padding: $small_space;
}

footer {
  padding: $small_space;
  margin: $small_space;
  background-color: $blue;
  color: white;
  font-weight: $heavy_weight;
  width: 100%;
  text-align: right;
  margin-top: $large_space;
  border-top-color: white;
  border-top-style: dotted;
}

div.singly {
  text-align: center;
  overflow: none;
  border-style: dotted;
  background-color: $blue;
  border-color: white;
  margin: 20px;
  h2{
    font-family: "Blanch";
    font-size: 60px;
    color: $yellow;
    line-height: 1.1em;
  }
  a.bttn {
    font-family: "Raleway", sans-serif;
    padding: $large_space;
    font-weight: $heavy_weight;
    -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
        border-radius: 6px;
    background-color: $royal;
    color: white;
    &:hover{
      text-decoration: none;
      background-color: $salmon;
    }
  }
}



div#about {
  margin-top: $large_space;
  border-style: dotted;
  border-color: $yellow;
  padding: $large_space;
  span.highlight{
    color: $salmon;
    font-weight: $heavy_weight;
  }
}

header {
  a.brnd {
    color: $salmon;
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -10px;
    font-size: 20px;
    text-decoration: none;
  }
  a.brnd:hover {
    color: $yellow;
  }
  a.clickit {
    color: white;
    &:hover {
      color: $blue;
    }
  }
  div.auth{
    padding: $large_space;
  }
  a.auth{
    background-color: $royal;
    padding: $large_space;
    margin: -$large_space;
    color: white;
    text-decoration: none;
    font-weight: $heavy_weight;
    &:hover{
      background-color: $blue;
    }
  }
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
#push,
#footer {
    height: 60px;
}