$purple: #47006B;
$yellow: #FFFF4C;
$blue: #00CCCB;
$pink:  #FF0079;
$salmon: #FF5B51;
$small_space: 5px;
$large_space: 10px;
$heavy_weight: 600;
$light_weight: 300;

@font-family {
  font-family: "Blanch";
  src: url("fonts/BLANCH_CONDENSED_LIGHT.otf");
}

html, body {
    height: 100%;
}

h1{
  font-family: "Blanch";
  font-size: 100px;
  text-align: center;
  padding: $large_space;
  margin: $large_space;
}

div.trending {
  margin-bottom: $small_space;
  padding: $small_space;
  background-color: $yellow;
  h3 {
    color: $salmon;
    font-family: "Blanch";
    font-size: 50px;
  }
  li {
    list-style: none;
    span{
      &.trend{
        font-weight: $heavy_weight;
      }
      &.count{
        font-weight: $light_weight;
      }
    }
  }
  div.bar {
    position: relative;
    height: 20px;
    background-color: $salmon;
  }
}

div.leaderboard {
  margin-bottom: $small_space;
  padding: $small_space;
  background-color: white;
  h3{
    color: $blue;
    font-family: "Blanch";
    font-size: 50px;
  }
}

div.editorial {
  margin-bottom: $small_space;
  padding: $small_space;
  background-color: $salmon;
  h3 {
    color: $yellow;
    font-family: "Blanch", sans-serif;
    font-size: 50px;
  }
  li {
    span{
      &.title{
        font-family: "Raleway", sans-serif;
        font-weight: $heavy_weight;
        color: black;
      }
    }
  }
}

img.nav_prof {
  width: 30px;
  padding: $small_space;
}

footer {
  padding: $small_space;
  background-color: $blue;
  color: white;
  font-weight: $heavy_weight;
  width: 100%;
  text-align: right;
}

div.singly {
  margin-bottom: $large_space;
  text-align: center;
  h2{
    font-family: "Blanch";
    font-size: 60px;
    color: $salmon;
  }
}



div#about {
  margin-top: $large_space;
  border-style: dotted;
  border-color: black;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
#push,
#footer {
    height: 60px;
}