$purple: #47006B;
$yellow: #FFFF4C;
$blue: #00CCCB;
$pink:  #FF0079;
$salmon: #FF5B51;
$small_space: 5px;
$large_space: 10px;
$heavy_weight: 600;
$light_weight: 300;

@font-family {
  font-family: "Blanch";
  src: url(fonts/BLANCH_CONDENSED_LIGHT.otf);
}

h1 {
  font-family: "Blanch";
  font-size: 100px;
  text-align: center;
}

div.trending {
  margin: $small_space;
  padding: $small_space;
  background-color: $yellow;
  h3 {
    color: $salmon;
    font-family: "Blanch";
    font-size: 50px;
  }
  li {
    list-style: none;
    span{
      &.trend{
        font-weight: $heavy_weight;
      }
      &.count{
        font-weight: $light_weight;
      }
    }
  }
}

div.leaderboard {
  margin: $small_space;
  padding: $small_space;
  background-color: white;
  h3{
    color: $blue;
    font-family: "Blanch";
    font-size: 50px;
  }
}

div.editorial {
margin: $small_space;
padding: $small_space;
background-color: $salmon;
  h3 {
    color: $yellow;
    font-family: "Blanch";
    font-size: 50px;
  }
  li {
    span{
      &.title{
        font-family: "Raleway";
        font-weight: $heavy_weight;
        color: black;
      }
    }
  }
}

footer {
  padding: $small_space;
  background-color: $blue;
  color: white;
  font-weight: $heavy_weight;
  width: 100%;
}