$purple: #47006B;
$yellow: #FFFF4C;
$blue: #00CCCB;
$pink:  #FF0079;
$salmon: #FF5B51;
$royal: #4700BF;
$small_space: 5px;
$large_space: 10px;
$heavy_weight: 600;
$light_weight: 300;

@font-face {
  font-family: "Blanch";
  src: url(/fonts/BLANCH_CONDENSED_LIGHT.otf);
}

div#landing{
  html, body {
    height: 100%;
  }
  div#banner{
    padding: $large_space;
    margin-top: $large_space;
  }
}

h1{
  font-family: "Blanch";
  font-size: 100px;
  text-align: center;
  line-height: 1.1em;
}

div.trending {
  margin-bottom: $small_space;
  padding: $small_space;
  background-color: $yellow;
  h3 {
    color: $salmon;
    font-family: "Blanch";
    font-size: 50px;
    line-height: 0.7em;
  }
  li {
    list-style: none;
    padding: $small_space;
    div.trend{
      font-weight: $heavy_weight;
    }
  }
  div.bar {
    float: left;
    height: 20px;
    background-color: $salmon;
    margin-right: $small_space;
  }
}

div.leaderboard {
  margin-bottom: $small_space;
  margin-right: $small_space;
  padding: $small_space;
  background-color: white;
  h3{
    color: $blue;
    font-family: "Blanch";
    font-size: 50px;
    line-height: 0.7em;
  }
  div.user_card {
    padding: $large_space;
  }
  div.pic_score {
    margin-top: -13px;
    margin-right: -10px;
    img.profile_pic {
      width: 100%;
      vertical-align: text-top;
    }
    div.score {
      background-color: black;
      font-size: 15px;
      color: white;
      font-weight: $heavy_weight;
      text-align: center;
      padding: $small_space;
    }
  }
  div.name_info {
    font-size: 20px;
    line-height: 1em;
    span {
      &.user_rank {
        background-color: $blue;
        color: white;
        padding: $large_space;
      }
      &.user_name {
        font-weight: $heavy_weight;
      }
    }
    div{
      &.user_post {
        margin-top: $large_space;
        padding: $large_space;
        font-size: 15px;
        overflow: hidden;
      }
      &.post_details {
        div{
          padding: $large_space;
          &.post_score {
            background-color: $salmon;
            color: white;
            font-weight: $heavy_weight;
            font-size: 15px;
            text-align: center;
          }
          &.post_time {
            font-size: 10px;
            color: $blue;
            overflow: hidden;
          }
        }
      }
    }
  }
}

div.editorial {
  margin-bottom: $small_space;
  padding: $small_space;
  background-color: $salmon;
  h3 {
    color: $yellow;
    font-family: "Blanch", sans-serif;
    font-size: 50px;
    line-height: 0.7em;
  }
  li {
    a {
      font-weight: $heavy_weight;
      color: white;
    }
    span{
      color: black;
      &.title {
        font-weight: $heavy_weight;
      }
      &.editor {
        color: white;
      }
    }
  }
}

footer {
  padding: $small_space;
  margin: $small_space;
  background-color: $blue;
  color: white;
  font-weight: $heavy_weight;
  width: 100%;
  text-align: right;
  margin-top: $large_space;
  border-top-color: white;
  border-top-style: dotted;
}

div.singly {
  overflow: hidden;
  text-align: center;
  overflow: none;
  border-style: dotted;
  background-color: $blue;
  border-color: white;
  margin: 20px 0px;
  h2{
    font-family: "Blanch";
    font-size: 60px;
    color: $yellow;
    line-height: 1.1em;
  }
  a.bttn {
    width: 200px;
    padding: $large_space;
    font-weight: $heavy_weight;
    -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
        border-radius: 6px;
    background-color: $royal;
    color: white;
    margin: $large_space;
    &:hover{
      text-decoration: none;
      background-color: $salmon;
    }
  }
  div.bttns {
    width: 450px;
    margin: auto;
    display: inline-block;
  }
}



div#about {
  margin-top: $large_space;
  border-style: dotted;
  border-color: $yellow;
  padding: $large_space;
  span.highlight{
    color: $salmon;
    font-weight: $heavy_weight;
  }
}

header {
  height: 50px;
  img {
    width: 40px;
  }
  a:hover{
    text-decoration: none;
  }
  a.brnd {
    color: $salmon;
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -10px;
    font-size: 20px;
    &:hover{
      color: $yellow;
    }
  }
  .auth{
    background-color: $royal;
    padding: $large_space;
    color: white;
    &:hover{
      text-decoration: none;
    }
  }
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
#push,
#footer {
    height: 60px;
}
